@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Poppins:wght@500&display=swap");
:root {
  --color-dark-primary: #212121;
  --color-dark-secondary: #262626;
  --color-light-primary: #DEDEDE;
  --color-light-secondary: #ccc;
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-light-primary);
  --color-green: #5ec576;
  --color-yellow: #ffcb03;
  --color-red: #ff585f;
  --color-dark-unopened-cells: #f44236;
  --color-light-unopened-cells: #424242;
  --color-unopened-cells: var(--color-dark-unopened-cells);
  --color-mark-icon: #f8d2d1;
  --color-dark-mark-cell: #822f28;
  --color-light-mark-cell: #353535;
  --color-mark-cell: var(--color-dark-mark-cell);
  --cell-opened-dark-even: var(--color-primary);
  --cell-opened-dark-odd: var(--color-dark-secondary);
  --cell-opened-light-even: var(--color-light-primary);
  --cell-opened-light-odd: var(--color-light-secondary);
  --cell-opened-even: var(--cell-opened-dark-even);
  --cell-opened-odd: var(--color-opened-dark-odd);
  --popup-dark: 33, 33, 33;
  --popup-light: 222, 222, 222;
  --color-popup: var(--popup-dark);
  --cell-text-color-dark-green: var(--color-green);
  --cell-text-color-dark-yellow: var(--color-yellow);
  --cell-text-color-dark-red: var(--color-red);
  --cell-text-color-light-green: #399e50;
  --cell-text-color-light-yellow: #b69000;
  --cell-text-color-light-red: #ff585f;
  --cell-text-color-green: var(--cell-text-color-dark-green);
  --cell-text-color-yellow: var(--cell-text-color-dark-yellow);
  --cell-text-color-red: var(--cell-text-color-dark-red);
  --game-field-width: 40rem;
  --game-field-height: 40rem;
  --cell-width: 4rem;
  --cell-height: 4rem;
}

.btn {
  width: 5rem;
  height: 3rem;
  background-color: var(--color-secondary);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn--close {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  font-size: 2rem;
}
.btn--rounded {
  width: 4rem;
  height: 4rem;
}

.popup {
  padding: 1rem;
  margin: auto auto;
  position: relative;
  overflow: visible;
  width: 30vw;
  height: 40vh;
  background-color: rgba(var(--color-popup), 0.7);
  color: var(--color-light-primary);
  border: none;
  border-radius: 6px;
  backdrop-filter: blur(1.2rem);
  transform-origin: 42.3rem -17.6rem;
  font-size: 5rem;
  text-align: center;
  transition: background-color 0.3s, width 0.3s cubic-bezier(0.72, 0.53, 0.05, 1.25), height 0.25s cubic-bezier(0.72, 0.53, 0.05, 1.25) 0.1s;
}
.popup::backdrop {
  backdrop-filter: blur(0.1rem) brightness(0.7);
  animation: backdropFadeOut 0.3s;
}
.popup-active {
  animation: popupFadeIn 0.35s ease-out;
}
.popup-active::backdrop {
  animation: backdropFadeIn 0.2s;
}
.popup--win, .popup--lose {
  padding: 5rem;
  font-size: 6rem;
  text-align: center;
  color: var(--color-secondary);
  max-height: 40vh;
}
@media only screen and (max-width: 75em) {
  .popup--win, .popup--lose {
    min-width: 70vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup--win, .popup--lose {
    font-size: 4rem;
    max-height: 25vh;
    min-height: 25vh;
    max-width: 50vw;
    min-width: 50vw;
  }
}
.popup--menu {
  padding: 0;
  width: 50rem;
  height: 25rem;
  overflow: hidden;
}
.popup--menu[open] {
  display: flex;
}
.popup--menu__inner {
  width: 100%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.72, 0.53, 0.05, 1.1);
}
.popup--menu__inner--active {
  translate: 0 -100%;
}
.popup--menu--active {
  height: 80vh;
  width: 50vw;
}
@media only screen and (max-width: 75em) {
  .popup--menu--active {
    min-width: 70vw;
    min-height: 90vh;
  }
}
@media only screen and (max-width: 50em) {
  .popup--menu--active {
    min-width: 80vw;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup--menu--active {
    font-size: 4rem;
    min-height: 25vh;
    max-height: 75vh;
    min-width: 70vw;
    max-width: 90vw;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

#app {
  height: 100vh;
  max-width: 128rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  display: flex;
  justify-content: start;
  flex-direction: column-reverse;
  align-items: center;
  transition: background-color 0.3s;
}

.game-field {
  width: var(--game-field-width);
  height: var(--game-field-height);
  background-color: var(--color-dark-secondary);
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.17, 0.43, 0, 1.78);
}
.game-field__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: var(--cell-width);
  height: var(--cell-height);
  cursor: pointer;
  transition: all 0.1s ease;
}
.game-field__cell__mark-icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}
.game-field__cell--close {
  background-color: var(--color-unopened-cells);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.game-field__cell:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.game-field__cell--open-dark {
  background-color: var(--cell-opened-even);
}
.game-field__cell--open-light {
  background-color: var(--cell-opened-odd);
}
.game-field__cell--open-light, .game-field__cell--open-dark {
  border: none;
  pointer-events: none;
}
.game-field__cell--open-light:hover, .game-field__cell--open-dark:hover {
  border: none;
}
.game-field__cell--marked {
  background-color: var(--color-mark-cell);
  border: none;
}
.game-field__cell--marked:hover {
  border: none;
}
.game-field__cell-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-secondary);
  animation: textFadeIn 0.3s;
}

#flag,
#banner {
  fill: var(--color-mark-icon);
}

#banner {
  animation: markBannerFadeIn 0.3s 0.2s;
}

#flag {
  animation: markStickFadeIn 0.4s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.controls {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 12rem;
  width: var(--game-field-width);
  margin: 3rem 3rem;
  padding: 0 1rem;
  row-gap: 3rem;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.28, 1.4);
}
.controls__restart-game {
  justify-self: end;
  transition: all 0.2s;
  grid-row: 2/3;
  grid-column: 4/5;
  background-color: var(--color-secondary);
}
.controls__restart-game:hover {
  rotate: 30deg;
}
.controls__restart-game__icon {
  display: flex;
  justify-content: center;
  translate: -0.1rem 0;
  scale: 0.8333333;
  height: 2.4rem;
  width: 4rem;
  fill: var(--color-primary);
}
.controls__timer-wrapper {
  width: 13rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: start;
  grid-column: 2/4;
  border-radius: 100px;
}
.controls__timer-wrapper__icon {
  width: 3.2rem;
  height: 3.2rem;
  scale: 0.9;
  fill: var(--color-secondary);
}
.controls__timer-wrapper__timer {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 600;
}
.controls__click-counter {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  width: 4rem;
  height: 4rem;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 600;
  min-width: 2.86rem;
  background-color: var(--color-secondary);
  border-radius: 100px;
  transition: background-color 0.3s;
}
.controls__num-of-flags {
  justify-self: start;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 8rem;
  height: 4rem;
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: var(--color-secondary);
  border-radius: 100px;
}
.controls__num-of-flags__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}
.controls__num-of-flags__num {
  text-align: center;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 600;
  width: 2.3rem;
  color: var(--color-primary);
}
.controls__num-of-mines {
  justify-self: end;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-row: 2/3;
  grid-column: 3/4;
  min-width: 8rem;
  min-height: 4rem;
  background-color: var(--color-secondary);
  border-radius: 100px;
}
.controls__num-of-mines__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
  fill: var(--color-primary);
}
.controls__num-of-mines__num {
  text-align: center;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 600;
  width: 2.3rem;
  color: var(--color-primary);
}
.controls__open-menu-btn {
  display: flex;
  justify-content: center;
  padding: 1.35rem 0 1rem 0;
  justify-self: end;
}
.controls__open-menu-btn__inner {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-primary);
}
.controls__open-menu-btn__inner:after, .controls__open-menu-btn__inner:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-primary);
}
.controls__open-menu-btn__inner:after {
  height: 0.2rem;
}
.controls__open-menu-btn__inner:before {
  margin: 0.7rem 0 0.5rem 0;
}

.menu {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4rem;
  padding: 4rem;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}
.menu--active {
  filter: blur(0.3rem);
}
.menu__theme-toggle {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  max-height: 4.4rem;
  grid-column: 2/3;
  overflow: hidden;
  border-radius: 30px;
  width: 9rem;
  height: 4.4rem;
}
.menu__theme-toggle__wrapper {
  fill: var(--color-secondary);
}
.menu__theme-toggle__circle, .menu__theme-toggle__sun, .menu__theme-toggle__moon {
  fill: var(--color-primary);
  transition: translate 0.5s cubic-bezier(1, 0.5, 0.17, 0.88), fill 0.3s;
  transform-origin: center;
}
.menu__theme-toggle__circle-pos-light {
  translate: 50%;
}
.menu__theme-toggle__circle-move {
  animation: toggleCircle 0.5s cubic-bezier(1, 0.5, 0.17, 0.88);
}
.menu__theme-toggle__moon {
  animation: moonFadeOut 0.7s cubic-bezier(0.72, 0.58, 0, 1.04);
}
.menu__theme-toggle__moon-active {
  animation: moonFadeIn 0.7s cubic-bezier(0.72, 0.58, 0, 1.04);
}
.menu__theme-toggle__sun {
  animation: sunFadeOut 0.7s cubic-bezier(0.72, 0.58, 0, 1.04);
}
.menu__theme-toggle__sun-active {
  animation: sunFadeIn 0.7s cubic-bezier(0.72, 0.58, 0, 1.04);
}
.menu__theme-toggle__sun__sunbeam {
  opacity: 0;
  transition: all 0.3s;
}
.menu__theme-toggle__sun__sunbeam-active {
  opacity: 1;
}
.menu__difficulty {
  display: flex;
  width: 100%;
  justify-content: space-between;
  grid-row: 2/3;
  grid-column: 1/5;
  justify-self: center;
}
.menu__difficulty__tab {
  width: 12rem;
  height: 4.4rem;
  border-radius: 100px;
  border: none;
  box-shadow: 0.5rem 0.2rem 2rem rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-size: 1.7rem;
  transition: all 0.25s cubic-bezier(0.22, 0.27, 0, 1.97);
}
.menu__difficulty__tab:active {
  translate: 0 5%;
  box-shadow: 0.5rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
}
.menu__difficulty__tab--0 {
  background-color: var(--color-green);
}
.menu__difficulty__tab--0:hover {
  filter: brightness(0.95);
}
.menu__difficulty__tab--1 {
  background-color: var(--color-yellow);
}
.menu__difficulty__tab--1:hover {
  filter: brightness(0.95);
}
.menu__difficulty__tab--2 {
  background-color: var(--color-red);
}
.menu__difficulty__tab--2:hover {
  filter: brightness(0.95);
}
.menu__difficulty__tab--active:active, .menu__difficulty__tab--active {
  translate: 0 -15%;
  box-shadow: 0.5rem 0.2rem 4rem rgba(0, 0, 0, 0.2);
  filter: saturate(110%);
}
.menu__sound-adjustment {
  width: 4.4rem;
  height: 4.4rem;
  grid-column: 4/5;
  transition: background-color 0.3s;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__sound-adjustment__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
  width: 3rem;
  height: 3rem;
  transition: fill 0.3s;
  fill: var(--color-primary);
}
.menu__sound-adjustment__icon #sound-muted,
.menu__sound-adjustment__icon #sound-loud,
.menu__sound-adjustment__icon #sound-low {
  transition: all 0.3s;
  transform-origin: center;
}
.menu__sound-adjustment__icon #sound-muted {
  transition: translate 0.15s 0.2s cubic-bezier(0.26, 0.81, 0.21, 0.98), scale 0.15s 0.2s cubic-bezier(0.06, 0.87, 0.51, 1.35), opacity 0.15s cubic-bezier(0.26, 0.81, 0.21, 0.98), fill 0.1s;
  translate: -0.2rem 0;
}
.menu__sound-adjustment__icon #sound-loud {
  transition-delay: 0.1s;
}
.menu__sound-adjustment__icon #sound-muted {
  scale: 1;
  opacity: 1;
}
.menu__sound-adjustment__icon #sound-loud,
.menu__sound-adjustment__icon #sound-low {
  opacity: 0;
  scale: 0;
  translate: -0.5rem;
}
.menu__sound-adjustment__icon--active #sound-muted {
  transition: all 0.2s;
  opacity: 0;
  scale: 0;
}
.menu__sound-adjustment__icon--active #sound-low,
.menu__sound-adjustment__icon--active #sound-loud {
  opacity: 1;
  scale: 1;
  translate: 0;
}
.menu__sound-adjustment__icon--active #sound-low {
  transition: scale 0.15s 0.15s cubic-bezier(0.06, 0.87, 0.51, 1.35), opacity 0.15s 0.2s cubic-bezier(0.26, 0.81, 0.21, 0.98), fill 0.1s;
}
.menu__sound-adjustment__icon--active #sound-loud {
  transition: scale 0.15s 0.3s cubic-bezier(0.06, 0.87, 0.51, 1.2), opacity 0.15s 0.3s cubic-bezier(0.26, 0.81, 0.21, 0.98), fill 0.1s;
}
.menu__mines-num {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.menu__mines-num__input {
  width: 9rem;
  height: 4.4rem;
  border-radius: 100px;
  border: none;
  background-color: var(--color-secondary);
  transition: all 0.3s;
  padding: 2rem;
  font-family: Popins, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
}
.menu__mines-num__input::-webkit-outer-spin-button {
  appearance: none;
}
.menu__mines-num__input::-webkit-inner-spin-button {
  appearance: none;
}
.menu__mines-num__input::placeholder {
  font-size: 1.5rem;
}
.menu__latest-result--btn {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  height: 4.4rem;
  width: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__latest-result--btn__icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: var(--color-primary);
}
.menu__latest-results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.menu__latest-results-wrapper--active {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 37.5em) {
  .menu__latest-results-wrapper {
    margin-top: 2rem;
  }
}
.menu__latest-results-wrapper__btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  bottom: -5rem;
  font-weight: 600;
  font-size: 2rem;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.26, 0.81, 0.21, 0.98);
}
.menu__latest-results-wrapper__btn-back__icon {
  fill: var(--color-primary);
  width: 4rem;
  transform: translateY(0.1rem);
}
.menu__latest-results-wrapper__btn-back #lower {
  position: absolute;
  translate: 0 3rem;
  opacity: 0;
}
.menu__latest-results-wrapper__btn-back:hover {
  scale: 0.95;
}
.menu__latest-results-wrapper__btn-back #upper,
.menu__latest-results-wrapper__btn-back #lower {
  transition: scale 1s cubic-bezier(0.26, 0.81, 0.21, 0.98);
}
.menu__latest-results-wrapper__btn-back:hover #upper, .menu__latest-results-wrapper__btn-back:hover #lower {
  scale: 1.05;
  transition: translate 0.5s cubic-bezier(0.32, 0.99, 0.49, 0.99), opacity 0.5s cubic-bezier(0.56, 0.32, 0, 1.04);
}
.menu__latest-results-wrapper__btn-back:hover #upper {
  translate: 0 -3rem;
  opacity: 0;
}
.menu__latest-results-wrapper__btn-back:hover #lower {
  translate: 0;
  opacity: 1;
}
.menu__latest-results-wrapper__res {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  width: 80%;
  height: 7%;
  background-color: var(--color-primary);
  border-radius: 6px;
  font-weight: 600;
  color: var(--color-secondary);
  font-size: 2rem;
}
@media only screen and (max-width: 75em) {
  .menu__latest-results-wrapper__res {
    width: 80%;
    font-size: 1.6rem;
    height: 7%;
  }
}
@media only screen and (max-width: 37.5em) {
  .menu__latest-results-wrapper__res {
    width: 90%;
    font-size: 1.3rem;
  }
}
.menu__latest-results-wrapper__res span {
  color: var(--color-green);
}
.menu__latest-results-wrapper__res__block {
  width: 15rem;
}
.menu__latest-results-wrapper__res--win {
  border-left: 1rem solid var(--color-green);
}
.menu__latest-results-wrapper__res--lose {
  border-left: 1rem solid var(--color-red);
}

@keyframes textFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
  }
  80% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cellFadeOut {
  0% {
    scale: 1;
  }
  30% {
    scale: 1.1;
  }
  80% {
    scale: 0.95;
  }
  100% {
    scale: 1;
  }
}
@keyframes popupFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    scale: 0;
  }
  50% {
    transform: translateY(7%);
    scale: 1.05;
  }
  80% {
    transform: translateY(-3%);
    scale: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes popupFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
  30% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    scale: 0;
  }
}
@keyframes backdropFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes backdropFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes restartFlip {
  0% {
    transform: rotate(30deg);
    filter: blur(0);
    scale: 1;
  }
  85% {
    transform: rotate(-4720deg);
    filter: blur(0);
    scale: 1.05;
  }
  90% {
    transform: rotate(-4660deg);
    filter: blur(0);
    scale: 0.95;
  }
  100% {
    transform: rotate(-4680deg);
    filter: blur(0);
    scale: 1;
  }
}
@keyframes markBannerFadeIn {
  0% {
    transform: translateY(-100%) rotate(-160deg);
    opacity: 0;
  }
  40% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes markStickFadeIn {
  0% {
    transform: translateY(200%);
  }
  60% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes markBannerFadeOut {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-200%) rotate(-160deg);
  }
}
@keyframes markStickFadeOut {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes toggleCircle {
  0% {
    scale: 1;
    filter: blur(0);
  }
  50% {
    scale: 1 0.9;
    filter: blur(0.5px);
  }
  100% {
    scale: 1;
    filter: blur(0);
  }
}
@keyframes moonFadeIn {
  0% {
    translate: 0 100%;
    rotate: -180deg;
  }
  100% {
    rotate: 0deg;
    translate: 0;
  }
}
@keyframes moonFadeOut {
  0% {
    rotate: 0deg;
    translate: 0;
  }
  100% {
    rotate: 180deg;
    translate: 0 -100%;
  }
}
@keyframes sunFadeIn {
  0% {
    translate: 0 -100%;
    rotate: -180deg;
  }
  100% {
    rotate: 0deg;
    translate: 0;
  }
}
@keyframes sunFadeOut {
  0% {
    rotate: 0deg;
    translate: 0;
  }
  100% {
    rotate: 180deg;
    translate: 0 100%;
  }
}

/*# sourceMappingURL=style.css.map */
