#flag,
#banner {
  fill: var(--color-mark-icon);
}

#banner {
  animation: markBannerFadeIn .3s .2s;
}

#flag {
  animation: markStickFadeIn .4s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}