@keyframes textFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(10%);
  }

  80% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes cellFadeOut {
  0% {
    scale: 1;
  }

  30% {
    scale: 1.1;
  }

  80% {
    scale: .95;
  }

  100% {
    scale: 1;
  }
}